{% extends 'base.html' %}
{% load i18n %}
{% block title %} Nueva tarjeta {% endblock title %}
{% block content-title %} Nueva tarjeta {% endblock content-title %}
{% block content %}
    <form action="" method="POST" id="card-form">
    {% csrf_token %}
    <label for="customer_id">{% trans 'Cliente' %}: {{ user.username }} / {{ customer.id }}</label>
    <input type="hidden" name="customer" id="customer_id" value="{{ customer.id }}">
    <div>
        <label>
            <span>Nombre del tarjetahabiente</span>
            <input type="text" size="20" data-conekta="card[name]">
        </label>
    </div>
    <div>
        <label>
            <span>Número de tarjeta de crédito</span>
            <input type="text" size="20" data-conekta="card[number]">
        </label>
    </div>
    <div>
        <label>
            <span>CVC</span>
            <input type="text" size="4" data-conekta="card[cvc]">
        </label>
    </div>
    <div>
        <label>
            <span>Fecha de expiración (MM/AAAA)</span>
            <input type="text" size="2" data-conekta="card[exp_month]">
        </label>
        <span>/</span>
        <input type="text" size="4" data-conekta="card[exp_year]">
    </div>
    <div class="text-right">
        <a href="{% url 'website:card-list' %}" class="btn btn-secondary btn-sm">Regresar</a>
    <button type="submit" class="btn btn-outline-success btn-sm">+ Crear</button>
        <p class="card-errors text-danger"></p>
    </div>
</form>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
<script type="text/javascript">
    Conekta.setPublicKey('{{ public_key }}');
    var conektaSuccessResponseHandler = function (token) {
        var $form = $("#card-form");
        //Inserta el token_id en la forma para que se envíe al servidor
        $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
        $form.get(0).submit(); //Hace submit
    };
    var conektaErrorResponseHandler = function (response) {
        var $form = $("#card-form");
        $form.find(".card-errors").text(response.message_to_purchaser);
        $form.find("button").prop("disabled", false);
    };

    //jQuery para que genere el token después de dar click en submit
    $(function () {
        $("#card-form").submit(function (event) {
            var $form = $(this);
            // Previene hacer submit más de una vez
            $form.find("button").prop("disabled", true);
            Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
            return false;
        });
    });
</script>
{% endblock extra_js %}